<form action='<%= blog ? `/blogs/update/${blog.id}` : "/blogs" %>' method="POST">
  <div>
    <label>Title:</label>
    <input type='text' id='title' name='title' required value="<%=blog ? blog.title : '' %>" >
  </div>
  <div>
    <label>Snippet:</label>
    <input type='text' id='snippet' name='snippet' required value="<%= blog ? blog.snippet : '' %>" >
  </div>
  <div>
    <label>Body:</label>
    <textarea rows="4" cols="50" id='body' name='body' required ><%= blog ? blog.body : '' %></textarea>
  </div>
    <button>Submit</button>
</form>