<html lang="en">
  <%- include('./../partials/head.ejs') %>
  <body>
    <%- include('./../partials/nav.ejs') %>
    <div class="create-blog">
      <h1>Update blogs</h1>
      <%- include('./form.ejs', {blog: blog}) %>
    </div>
  </body>
</html>