<nav>
  <div class=""site-title>
    <a href="/blogs"><h1>Study Node</h1></a>
  </div>
  <ul>
    <li><a href="/blogs">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create</a></li>
  </ul>
</nav> 