<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="Not-found contents">
      <h1>404</h1>
      <p>Not found</p>
    </div>
  </body>
</html>