<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about contents">
      <h1>About</h1>
      <p> About usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout us</p>
    </div>
  </body>
</html>